@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  /* Variables para Modo Claro */
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
}

/* Esta clase .dark la activa next-themes */
.dark {
  /* Variables para Modo Oscuro */
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
}

body {
  /* Aplicamos los colores usando HSL */
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: Arial, Helvetica, sans-serif;
}